---
import { SITE } from "@consts";
import ThemeToggleSection from "./ThemeToggleSection.astro";
import ContactMeSection from "./ContactMeSection.astro";
import SocialMediaSection from "./SocialMediaSection.astro";
---

<footer class="animate relative max-h-2xl my-4">
  <div class="relative mx-auto max-w-2xl w-full px-4">
    <div class="flex justify-between pt-8 pb-16 gap-16">
      <ContactMeSection />
      <SocialMediaSection />
    </div>

    <div class="flex justify-between items-center">
      <p class="text-sm text-secondary">
        © {new Date().getFullYear()}
        {SITE.NAME}
      </p>

      <ThemeToggleSection />
    </div>
  </div>
</footer>
