<div class="mt-1">
  <p class="font-semibold mb-2 md:mb-4 lg:mb-4">Socials</p>

  <ul>
    <li>
      <a
        href="https://github.com/aksxmtvnty9"
        target="_blank"
        rel="noopener noreferrer"
        class="text-secondary hover:text-primary transition-colors duration-200"
      >
        GitHub
      </a>
    </li>
    <li>
      <a
        href="https://linkedin.com/in/aksxmtvnty9"
        target="_blank"
        rel="noopener noreferrer"
        class="text-secondary hover:text-primary transition-colors duration-200"
      >
        LinkedIn
      </a>
    </li>
    <li>
      <a
        href="https://twitter.com/aksxmtvnty9"
        target="_blank"
        rel="noopener noreferrer"
        class="text-secondary hover:text-primary transition-colors duration-200"
      >
        Twitter
      </a>
    </li>
  </ul>
</div>
