---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/footer/index.astro";
import Container from "@components/Container.astro";
import BackToTop from "@components/BackToTop.astro";
import { SITE } from "@consts";
import Divider from "@components/Divider.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title = SITE.NAME, description = SITE.DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} description={description} />

  <body class="min-h-screen flex flex-col">
    <Header />

    <main class="flex-1">
      <Container>
        <slot />
      </Container>
    </main>

    <Divider />
    <Footer />

    <BackToTop />
  </body>
</html>
